*{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    padding: 0 280px 0 280px;
    background-color: #eee;
}
.header {
    text-align: center;
    background-color: #aaa;
    width:100%;
    height:150px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 30px;
    line-height: 150px;
}
.content {
    
}
.footer {}
.writeByWho {}