*{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    padding: 0 280px 0 280px;
    background-color: #eee;
}
.header {
    float:left;
    text-align: center;
    background-color: #8c1515;
    width:100%;
    height:100px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 30px;
    line-height: 150px;
}
.content {

}
.footer {}
.writeByWho {}