---
layout: index
title: CTK's WEBSITE
---
<div class="header">
    Welcome to my tool-use-article web!
</div>
<div class="articleTitle">
    <p class="title">目录</p>

    <p class="secondTitle">基本数据类型</p>
    <ul>
        {% for post in site.categories.basedata %}
            <li>{{post.date | date_to_string}}&nbsp;<a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <p class="secondTitle">静态对象</p>
    <ul>
        {% for post in site.categories.staticobj %}
            <li>{{post.date | date_to_string}}&nbsp;<a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <p class="secondTitle">摘抄</p>
    <ul>
        {% for post in site.categories.excerpt %}
            <li>{{post.date | date_to_string}}&nbsp;<a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
	<p class="secondTitle">面试经</p>
	<ul>
	    {% for post in site.categories.interview %}
	        <li>{{post.date | date_to_string}}&nbsp;<a href="{{post.url}}">{{post.title}}</a></li>
	    {% endfor %}
	</ul>
	<p class="secondTitle">随笔</p>
	<ul>
	    {% for post in site.categories.article %}
	        <li>{{post.date | date_to_string}}&nbsp;<a href="{{post.url}}">{{post.title}}</a></li>
	    {% endfor %}
	</ul>
</div>
